{% extends 'base.html' %}

{% block head %}
<title>Hasil</title>
{% endblock %}

{% block body %}
<div class="content">
    <div class="container">
        <img src="{{ prediksi[1] }}">
    </div>
    <h1>Rp {{ prediksi[0] }}</h1>

    <form action="/" method="POST" enctype="multipart/form-data">
        <input type="file" accept="image/*" capture="camera" name="gambar" id="upload" hidden onchange="form.submit()" onclick="playaudio()">
        <label for="upload" lang="id" aria-label="Sentuh layar untuk deteksi ulang">Sentuh layar untuk deteksi
            ulang</label>
    </form>
</div>
<script>
    var audionameslist = `
        {{ url_for('static', filename='audio/klasifikasi_selesai.mp3') }},
        {{ prediksi[2] }}
    `;
    var audionamesarray = audionameslist.split(',');
    var audio = new Audio(audionamesarray[0]);
        
    audio.src=audionamesarray[0];
    audio.play();

    index=1;
    audio.onended = function() {
        if(index < audionamesarray.length){
            audio.src=audionamesarray[index];
            audio.play();
            index++;
        } else {
            audio.removeAttribute();
        }
    };

    var playaudio = () => {
        var audio = new Audio("{{ url_for('static', filename='audio/kamera_siap.mp3') }}");
        audio.play();
    };
</script>
{% endblock %}